.Commands {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.CommandsListSelect {
    text-align: left;
}

.CommandsInput {
    margin-top: 1%;
}

.CommandsParams p {
    display: block;
    width: 100%;
}

.CommandsParams input {
    display: block;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}

.CommandsFile {
    display: block;
}

.CommandsSubmit {
    display: block;
    margin-top: 1%;
}

.CommandsSubmit button {
    width: 100%;
    height: 20%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(359, 92%, 60%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    box-shadow: 3px 3px 3px #989898;
}
.CommandsSubmit button:active {
    width: 100%;
    height: 20%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dcdcdc;
    border-color: hsl(359, 92%, 60%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    box-shadow: 3px 3px 3px #989898;
    -webkit-transition: background-color 10ms linear;
}
