.AddCustomer {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
.AddCustomerTextInput {
    display: inline-block;
    width: 15%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.AddCustomerTextInput p {
    display: inline-block;
    text-align: center;
}
.AddCustomerTextInput input {
    display: inline-block;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
}

.AddCustomerSubmit {
    display: inline-block;
    width: 15%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.AddCustomerSubmit button {
    width: 100%;
    height: 20%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(359, 92%, 60%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    box-shadow: 3px 3px 3px #989898;
}
.AddCustomerSubmit button:active {
    width: 100%;
    height: 20%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #dcdcdc;
    border-color: hsl(359, 92%, 60%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    box-shadow: 3px 3px 3px #989898;
    -webkit-transition: background-color 10ms linear;
}
.CustomersGrid {
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffffff;
}