.Statistic {
    display: block;
    width: 80%;
    overflow: scroll;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffffff;
}
.Statistic #bis {
    display: block;
    width: 80%;
    overflow: scroll;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #ffffff;
}