.Tabs {
    display: block;
    width: 100%;
    margin-top: 5%;
}

.TabsMenu {
    display: block;
    width: 60%;
    margin-left: 20%;
}

.TabsMenuItem {
    display: inline-block;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    /*border-bottom-color: #989898;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-width: 1px;*/
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    min-height: 38px;
}

.Tab {
    display: block;
    overflow: scroll;
    overflow-x: hidden;
    width: 80%;
    height: 60%;
    min-height: 550px;
    margin-left: 10%;
    /*border-color: hsl(359, 92%, 60%);*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    background-color: #dcdcdc;
    box-shadow: 3px 3px 3px #989898;
}
